footer {
  margin-top: 40px;
  padding-top: 20px;
  padding-bottom: 10px;
  border: 2px solid gray;
  background: #263451;
  color: #fff;
}
.description {
  margin: 10px 0 !important;
}
.text-feild {
  margin-bottom: 10px !important;
}
footer ul {
  padding-left: 0 !important;
}
